$pageMargin: 30px;
$pageBorderRadius: 20px;

$headerHeight: 70px;
$productWidth: 70px;
$brandLogoSize: 50px;
$navigationWidth: 200px;
$footerHeight: 50px;

$contentScrollPanRightMargin: 20px;
$contentScrollPanPadding: 20px;

$primaryColor: #00a0db;

// Product Component
$productIconSize: 35px;
