$pageMargin: 30px;
$pageBorderRadius: 20px;

$headerHeight: 100px;
$productWidth: 100px;
$brandLogoSize: 80px;
$navigationWidth: 300px;
$footerHeight: 50px;

$contentScrollPanRightMargin: 20px;
$contentScrollPanPadding: 10px;

$primaryColor: #00a0db;

// Product Component
$productIconSize: 50px;
